@import url(findme/sec1.css);
@import url(findme/sec2.css);
@import url(findme/sec3.css);
@import url(findme/sec4.css);
@import url(findme/sec5.css);
@import url(findme/sec6.css);
@import url(findme/sec7.css);
@import url(findme/sec8.css);

body {
	font-size: 1.6em;
}
nav {
	display: none;
}
article {
	background-color: transparent;
	max-width: 80%;
}
hr {
	border: none; 
	background-color: black; 
	color: black; 
	height: 2px; 
}
a:hover {
	border: none;
}
.slider {
	position: absolute;
	/*background-color: red;*/
	/*top: 91px;*/
	/*left: 150px;*/
	/*width: 301px;*/
	/*height: 477px;*/
	top: 12.75%;
	left: 24.49%;
	width: 50.59%;
	height: 67%;
}
h1, h2, h3 {
	font-weight: bold;
}
.carousel-caption {
	color: #000;
}