<section id="sec5">
  <article>
    <h1 class="text-center"><i class="fa fa-cogs"></i> Tools on mobile</h1>
    <hr>
    <div class="row text-center">
      <div class="col-md-6 col-xs-6">
        <img src="/static/images/java.png" alt="Java" height="283px"> 
      </div>
      <div class="col-md-6 col-xs-6">
        <img src="/static/images/vk.png" alt="VkApi" height="283px"> 
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-xs-6">
        <img src="/static/images/gmap.png" alt="GMaps" height="300px">
      </div>
      <div class="col-md-6 col-xs-6">
        <img src="/static/images/android.png" alt="Android" height="300px">
      </div>
    </div>
  </article>
</section>