<section id="sec6">
  <article>
    <h1 class="text-center"><i class="fa fa-cogs"></i> Tools on server</h1>
    <hr>
    <div class="row text-center">
      <div class="col-md-6 col-xs-6">
        <a href="#" class="demo">
          <img src="/static/images/django.png" alt="django" height="270px">
        </a>
      </div>
      <div class="col-md-6 col-xs-6">
        <img src="/static/images/vk.png" alt="VkApi" height="270px">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-xs-6">
        <img src="/static/images/html5.png" alt="html5" height="270px">
      </div>
      <div class="col-md-6 col-xs-6">
        <img src="/static/images/js.png" alt="js" height="270px">
      </div>
    </div>
  </article>
</section>