<section id="sec7">
  <article>
    <h1 class="text-center"><i class="fa fa-comments"></i> Future</h1>
    <hr>
    <div class="row">
      <div class="col-md-5 col-md-offset-1 col-xs-6">
       <ul>
         <li>Add event organizer</li>
         <br>
         <li>Integration with Facebook's profile</li>
         <br>
         <li>Add oportunity share meeting in Instagram</li>
         <br>
         <li>Search interested places around your location</li>
         <br>
         <li>Tracking and storing your walking ways</li>
         <br>
         <li>Cross-platform application</li>
       </ul>
       </div>
      <div class="col-md-5 col-xs-6">
        <img src="/static/images/map.gif" alt="map" class="img-responsive img-thumbnail"> 
      </div>
    </div>
  </article>
</section>